:root {
    --primary: #cfdbd5;
    --accent: #e8eddf;
    --highlight: #f5cb5c;
    --dark: #242423;
    --background: #333533;
    --highlight2: #6CA0CC;
    --table1: #404040;
    --table2: #555555;
    --scrollBar: #666666;
    --scrollBarHover: #7a7a7a;
  }

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Geologica', sans-serif;
}

canvas {
    background-color: var(--primary);
}

body {
    width: 100vw;
    height: 100vh;
}

.content {
    height: 100%;
    display: grid;
    grid-template-columns: 10fr 11fr;
}

.content > div {
    height: 100%;
}

.editor {
    background-color: var(--background);
}

.display {
    background-color: var(--dark);
}

.model {
    display: grid;
    margin: 50px 50px;
    margin-bottom: 20px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
}

canvas {
    width: 100%;
    aspect-ratio: 1/1;
    min-width: 300px;
}

.settings {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    margin: 0 50px;
}

.table h1 {
    text-align: center;
    margin: 0;
    color: white;
}

.table {
    overflow:auto;
}

.model .table {
    height: 500px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top:10px
}

th {
    padding: 10px;
}

tr {
    border: 1px solid black;
    text-align: center;
    background-color: var(--table1);
    height: 50px;
}

tr:nth-child(even), thead tr {
    background-color: var(--table2);
}

::-webkit-scrollbar {
    width: 12px;
    background-color: var(--dark);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollBar);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollBarHover);
}

.status {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
}

.status .settingHeader {
    grid-column-start: 1;
    grid-column-end: 6;
}

.status button {
    padding: 20px 0;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.reset {
    background-color: rgb(95, 0, 0);
}

.stop {
    background-color: rgb(140, 1, 1);
}

.resume {
    background-color: rgb(141, 69, 2);
}

.run {
    background-color: rgb(0, 137, 25);
}

.test {
    background-color: rgb(0, 196, 183);
}

.settingHeader {
    text-align: center;
    color: white;
    margin-top: 15px;
    margin-bottom: 10px;
}

.speed input {
    width: 80%;
    margin-left: 10%;
}

.export button {
    display: block;
    width: 80%;
    margin-left: 10%;
    padding: 10px 0;
}

.import {
    margin-bottom: 10px;
    background-color: var(--highlight);
}

.exportButton {
    background-color: var(--highlight2);
}

.flickers {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.flickers .settingHeader {
    grid-column-start: 1;
    grid-column-end: 3;
}

.flickers div label {
    color: white;
    font-size: 1vw;
}

.flickers div input {
    margin-right: 20px
}

.stats .table {
    margin-top: 0;
}

.stats h3{
    color:white;
    margin: 10px;
}

.stats h3 span {
    float: right;
}