:root {
    --primary: #cfdbd5;
    --accent: #e8eddf;
    --highlight: #f5cb5c;
    --dark: #242423;
    --background: #333533;
  }

body, html {
    margin: 0;
    padding: 0;
}

canvas {
    background-color: var(--primary);
}

body {
    width: 100vw;
    height: 100vh;
}

.content {
    height: 100%;
    display: grid;
    grid-template-columns: 11fr 10fr;
}

.content > div {
    height: 100%;
}

.editor {
    background-color: var(--background);
}

.display {
    background-color: var(--dark);
}

.model {
    display: grid;
    margin: 50px 50px;
    grid-template-columns: 500px 1fr;
    grid-column-gap: 50px;
}

.table h1 {
    text-align: center;
    margin: 0;
    color: white;
}

.table {
    overflow:auto;
    height: 500px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top:10px
}

th {
    padding: 10px;
}

tr {
    border: 1px solid #000000;
    text-align: center;
    background-color: #404040;
    height: 50px;
}

thead tr  {
    background-color: #555555;
}

tr:nth-child(even) {
    background-color: #555555;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #242423;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #666666;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #7a7a7a;
  }