a.start {
    background-color: #337E0D;
    margin-top: 20px;
    display: block;
}

a.start, a.end {
    color:white;
    border: 1px black solid;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    max-width: 200px;
}

a.end {
    display: none;
    background-color: red;
}

canvas.visualizer {
    border: 1px black solid;
    height: 500px;
    aspect-ratio: 1/1;
}